.cache/
backups/
emojis/
auto-save-list/
elpa/
straight/
.lsp-session-v1
eshell/
snippets/
history/
transient/
url/
ncognito
history
projectile-bookmarks.eld
tramp
bookmarks
forge-database.sqlite
/init-local.el
/projects
/org-persist/
